// Partial SCSS file containing color variables

// ============================================
// COLORS
// ============================================

// === LIGHT THEME ========================
$light: (

);

// === DARK THEME =========================
$dark: (
    1000: #ffffff,
    700: #B3B3B3,
    600: #808080,
    50: #0B0C0D,
    0: #000000,

    blue-200: #193f49,
);